src/test/resources/urls.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="urls">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="urlMapping" maxOccurs="unbounded" minOccurs="1">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="urlMapping">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="url" maxOccurs="1" minOccurs="1"/>
                <xs:element type="xs:string" name="channel" maxOccurs="1" minOccurs="1"/>
                <xs:element type="xs:string" name="subchannel" maxOccurs="1" minOccurs="0"/>
                <xs:element type="xs:string" name="key" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>